# Comprehension

### List Comprehension

In [1]:
# Aşağıda bir liste içerisinde bir grubun maaşları tanımlanmış olsun;

salaries = [1000, 2000, 3000, 4000, 5000]


# Maaşlara %20 zam yapabilmek için bir fonksiyon tanımlayalım;

def new_salary(x):
    return x * 20 / 100 + x

# Yukarıda tanımladığımız bir fonksiyonu döngü ile çalıştıralım
for salary in salaries:
    print(new_salary(salary))

    
# Yeni maaşları yeni bir liste içerisine alabilmek için boş bir liste tanımlayalım ve maaşları .append() metodu ile liste içine alalım.
null_list = []

for salary in salaries:
    null_list.append(new_salary(salary))

    
# Bir sonraki adımda ise bir if bloğu ile maaşlar 3000'den büyükse new_salary fonksiyonunu uyguluyoruz,
# Değilse maaşı iki ile çarparak new_salary fonksiyonunu uyguluyoruz.
null_list = []

for salary in salaries:
    if salary > 3000:
        null_list.append(new_salary(salary))
    else:
        null_list.append(new_salary(salary * 2))

print(null_list)

1200.0
2400.0
3600.0
4800.0
6000.0
[2400.0, 4800.0, 7200.0, 4800.0, 6000.0]

In [2]:
# Şimdi yukarıdaki işlemleri comprehension ile yapalım;

# Maaşlar listesindeki herbir maaşı iki ile çarpmak istersek;

[salary* 2 for salary in salaries]

# İlk önce döngü yazar gibi başlıyoruz sonra "salary" üzerinde yapacağımız işlemi bu ifadenin SOLUNA yazıyoruz.

[2000, 4000, 6000, 8000, 10000]

In [3]:
# Maaşı 3000'den küçük olanların maaaşını 2 ile çarpmak istersek;

[salary*2 for salary in salaries if salary<3000]

# Yukarıda görüldüğü üzere sadece if kullanacaksak bunu döndügünün SAĞINA yazıyoruz.

[2000, 4000]

In [4]:
# Maaşı 3000'den büyük olanların maaşının 0 ile çarpılmasını istiyorsam;

[salary*2 if salary<3000 else salary*0 for salary in salaries]

# Eğer ki if'in yanında else var ise o zaman bu döngünün SOLUNA yazılır.

[2000, 4000, 0, 0, 0]

In [5]:
# List comprehension içerisinde fonksiyon kullanmak istersek;

[new_salary(salary*2) if salary<3000 else salary*0 for salary in salaries]

[2400.0, 4800.0, 0, 0, 0]

In [6]:
# Bir başka örnek olarak;

[new_salary(salary*2) if salary<3000 else new_salary(salary*0.2) for salary in salaries]

[2400.0, 4800.0, 720.0, 960.0, 1200.0]

In [7]:
# Bir başka örnek olarak;
# Elimde iki adet liste var, istediğim listedeki öğrenci isimlerini büyük, istemediğim listedeki öğrenci isimlerini küçük yazdırmak istersek;

students = ["John", "Mark", "Venessa", "Mariam"]
students_no = ["John", "Venessa"]

[student.lower() if student in students_no else student.upper() for student in students]

['john', 'MARK', 'venessa', 'MARIAM']

In [8]:
# if not kullarak yapmak istersek;

[student.upper() if not student in students_no else student.lower() for student in students]

['john', 'MARK', 'venessa', 'MARIAM']

### Dict Comprehension

In [9]:
dictionary = {'a': 1,
              'b': 2,
              'c': 3,
              'd': 4}

# Yukarıda tanımlanan herbir value değerinin karesini almak istersek;

{k: v**2 for k,v in dictionary.items()}

# Yukarıda 2 şeye DİKKAT edilmeli; 
# birincisi dictionary olduğu için süslü paratez kullanılmalıdır ikincisi ise dictionary'den sonra .items() metodu kullanılmalıdır.

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [10]:
# Key değerlerini değiştirmek istersek;

{k.upper(): v for k,v in dictionary.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}